.vagrant/
arcanist/
libphutil/
phabricator/
modules/*
!modules/nginx/
!modules/phabricator/
!modules/php/
.librarian/
.tmp/

### /Users/xiaogaozi/.gitignore-boilerplates/Global/vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
